.card {
    width: 270px;
    height: 400px;
    padding: 5px;
}

h1 {
    color: green;
    text-align: center;
}

.container {
    margin-top: 50px;
    width: 600px;
    height: auto;
}
.footerlogo {
    width: 33px;
}