.card {
    width: 270px;
    height: 400px;
    padding: 5px;
}

.Bluebox {
    background-color: #082b5b;
    margin-top: 4%;
    padding-bottom: 4%;

}.blueboxtext {
    color: white;
}
.container {
    margin-top: 50px;
    width: 600px;
    height: auto;
}
.footerlogo {
    width: 33px;
}

.sendImg {

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.devText {
    height: 37vh;
}

.abouth2{
    padding-top: 11%;
    padding-left: 7%;
}

.aboutpara{
    padding-left: 7%;
    padding-right: 35%;
}

.Greenbox {
    background-color: rgba(0, 200, 129, 1.85);
    margin-top: -7%;
}

.overallImg{
    margin-left: 12%;
}