/* ---------------------------------------------------------------------------------- 
                                        contact.html 
-------------------------------------------------------------------------------------- */

.Greenboxcontact {
    background-color: rgba(0, 200, 129, 1.85);
}

.footerlogo {
    width: 33px;
}