/* ---------------------------------------------------------------------------------- 
                                software development.html
-------------------------------------------------------------------------------------- */


.devTextSoft {
    height: 67vh;
}

.para1 {
    padding-left: 8%;
}

.div4 {
    margin-left: 10%;
    width: 39%;
}

.blueText {
    color: #0C1842;
}

.sendImg {

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.footerlogo {
    width: 33px;
}