.w-100 {
    width: 100% !important;
    height: 84vh;
}

.box {
    width: 62%;
    margin-left: 20.5%;
    font-size: 113%;
}

#p {
    font-size: 100%;
    font-weight: bold;
    width: 90%;
    margin-left: 8%;
    text-align: center;
}

.imagelogo {
    height: 100%;
    padding-top: 3%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3%;
}

.imagelogo:hover {
    background-image: url(../assets/Image/servicebg.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.Bluebox {
    background-color: #082b5b;
    margin-top: 4%;
    padding-bottom: 4%;

}

.blueboxtext {
    color: white;
    font-size: x-large;
}

.languagelogo {
    width: 44px;
    margin-top: 2%;
}

.ioslogo {
    width: 66px;
}

.Greenbox {
    background-color: rgba(0, 200, 129, 1.85);
    ;
    margin-top: -4%;
}

.Whitebox {
    border: 1px solid black;
    margin-top: -4%;
}

.logo {
    margin-top: 10%;
}

.ajaxlogo {
    width: 50px;
}

.footerlogo {
    width: 33px;
}