
/* ---------------------------------------------------------------------------------- 
                                        Common Styles
-------------------------------------------------------------------------------------- */

.w-100 {
    width: 100% !important;
    height: 84vh;
}

.imagelogo {
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

.Bluebox {
    background-color: #082b5b;
    margin-top: 4%;
    padding-bottom: 4%;

}

.sendImg {

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.footerlogo {
    width: 33px;
}



/* ---------------------------------------------------------------------------------- 
                                          index.html 
-------------------------------------------------------------------------------------- */


.box {
    width: 62%;
    margin-left: 20.5%;
    font-size: 113%;
}

.imagelogo:hover {
    background-image: url(../assets/Image/servicebg.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.languagelogo {
    width: 44px;
    margin-top: 2%;
}

.ioslogo {
    width: 66px;
}

.Greenbox {
    background-color: rgba(0, 200, 129, 1.85);
    margin-top: -4%;
}

.Whitebox {
    margin-top: -4%;
}

.logo {
    margin-top: 10%;
}

.ajaxlogo {
    width: 50px;
}

.firstText {
    font-size: 100%;
    font-weight: bold;
    width: 90%;
    margin-left: 8%;
    text-align: center;
}


/* ----------------------------------------------------------------------------------
                            Web design and development.html 
 ----------------------------------------------------------------------------------*/

.mainimg{
    height: 80vh;
}
.uidevlop{
    width: 42%;
}


/* ---------------------------------------------------------------------------------- 
                                software development.html
-------------------------------------------------------------------------------------- */


.devTextSoft {
    height: 67vh;
}

.para1{
    padding-left: 8%;
}
.div4 {
    margin-left: 10%;
    width: 39%;
}

.blueText{
    color: #0C1842;
}



/* mobile app.html */

.Whiteboxmobile {
    margin-top: -4%;
}

.mobColor {
    color: #0C1842;
}

.maimg{
    margin-top: 12%;
}



/* ---------------------------------------------------------------------------------- 
                                        contact.html 
-------------------------------------------------------------------------------------- */

.Greenboxcontact {
    background-color: rgba(0, 200, 129, 1.85);
}


